<style>
#theTable, th, .theRow {
    border: 1px solid black;
    border-collapse: collapse;
}
th, .theRow{
    padding: 5px;
    text-align: center;
}
#definition {
	width: 50%;
}
</style>

<strong>My words</strong>
<br/><br/>
<%= link_to 'Add new word', new_word_path %>
<br/>
<table id="theTable">
  <tr id = "theRows">
    <th>Word</th>
    <th>Definition</th>		
    <th>Category</th>
    <th>Action</th>
  </tr>
  <% @words.each do |w| %>
  
  <tr id = "theRows">
    <td class="theRow"><%=w.entry%></td>
    <td class="theRow" id = "definition"><%=w.description%></td>		
    <td class="theRow"><%=w.category%></td>
    <td class="theRow">Edit | Delete</td>
  </tr>
  <% end %>
  
</table>
