<% if @word.nil? %>
<p>
	Sorry, but you are not allowed to see this word.
</p>
<% else %>
<p>
  <strong><%= @word.entry %></strong> (<%= @word.category %>) 
</p>
 
<p>
  <%= @word.description %>
</p>
<% end %>
<%= link_to 'Back to Words', words_path %>

