<h2> Quiz </h2>

<p>
<ul>
Please select the category:
</p>
<% @myCategories.each do |c| %>
	<li> <%= link_to c.category , new_quiz_path(:category => c.category, :myCategory => true) %> </li>
<% end %>
</ul>
