<strong>What is Learn App?</strong></br>
Learn App will make it easier for you to learn new words and definitions</br>
</br>
<strong>How does it works?</strong></br>
After you create your account, you will have the possibility to create your own list of words that you want to learn.</br>
You can test yourself once a day. You pick a category and a test that contains random ten vocabulary/definitions is drawn for you.</br>
If your answer is wrong, the word will appear in the future with higher probability,</br>
but if you correctly match a word with its definition, the probability for drawing this word in a test will be smaller.</br>
</br>
Despite your own words, you can give a try for tests that are available for all users.</br>
You will get points for correct answers. More points gives higher level and makes more difficult tests available for you.</br>
You can always check the score list there all users are listed out. Try to be on the top!</br>

