<strong>What is Learn App?</strong></br>
Learn App will make it easier for you to learn new words and definitions</br>
</br>
<strong>How does it works?</strong></br>
After you create your account, you will have the possibility to create your own list of words that you want to learn.</br>
Then you can test yourself. You pick a category and a quiz that contains random vocabulary/definition is drawn for you.</br>
If your answer is wrong, the word will appear in the future with higher probability,</br>
but if you correctly match a word with its definition, the probability for drawing this word in a quiz will be smaller.</br>


